[Desktop Entry]
Type=Application
Name=Omarchy Media Writer
Name[ar]=كاتب وسائط Omarchy
Name[az]=Omarchy Media Yazıcı
Name[be]=Omarchy Media Writer
Name[bg]=Omarchy Media Writer
Name[ca]=Omarchy Media Writer
Name[cs]=Omarchy Media Writer
Name[da]=Omarchy-medieskriver
Name[de]=Omarchy Media Writer
Name[el]=Omarchy Media Writer
Name[es]=Omarchy Media Writer
Name[et]=Omarchy Meediumisalvesti
Name[eu]=Omarchy Media Writer
Name[fi]=Omarchy Media Writer
Name[fil]=Omarchy Media Writer
Name[fr]=Omarchy Media Writer
Name[fur]=Scritôr Supuarts di Omarchy
Name[ga]=Scríbhneoir Meán Omarchy
Name[he]=כותב המדיה של Omarchy
Name[hr]=Omarchy zapisnik medija
Name[hu]=Omarchy médiaíró
Name[ia]=Omarchy Media Writer
Name[id]=Omarchy Media Writer
Name[it]=Omarchy Media Writer
Name[ka]=Omarchy Media Writer
Name[kab]=Omarchy Media Writer
Name[kk]=Omarchy Media Writer
Name[kn]=ಫೆಡೋರ ಮಾಧ್ಯಮ
Name[ko]=Omarchy 미디어 작성기
Name[ml]=Omarchy മാധ്യമ എഴുതുപകരണം 
Name[nl]=Omarchy mediaschrijver
Name[pa]=Omarchy ਮੀਡੀਆ ਰਾਇਟਰ
Name[pl]=Omarchy Media Writer
Name[pt]=Omarchy Media Writer
Name[pt-BR]=Omarchy Media Writer
Name[ro]=Omarchy Media Writer
Name[ru]=Omarchy Media Writer
Name[sk]=Omarchy Media Writer
Name[sl]=Omarchy Media Writer
Name[sq]=Omarchy Media Writer
Name[sr]=Omarchy Писач Медија
Name[sv]=Omarchy Mediaskrivare
Name[ta]=Omarchy ஊடக எழுதி 
Name[th]=Omarchy Media Writer
Name[tr]=Omarchy Ortam Yazıcısı
Name[uk]=Omarchy Media Writer
Name[vi]=Omarchy Media Writer
Name[yo]=Àgbéwòránkálẹ̀ Omarchy
Name[zh-CN]=Omarchy Media Writer
Name[zh-TW]=Omarchy 媒體寫入器
Comment=Write Omarchy images to your portable drives
Comment[ar]=اكتب صور أقراص Omarchy على محرك أقراصك المحمول
Comment[az]=Omarchy görüntülərini portativ disklərinizə yazın
Comment[be]=Запіс вобразаў Omarchy на пераносныя дыскі
Comment[bg]=Записва образи на Omarchy на преносими устройства
Comment[ca]=Escriviu imatges de Omarchy a les vostres unitats portàtils
Comment[cs]=Zapisujte obrazy Omarchy na přenosná média
Comment[da]=Skriv Omarchy-aftryk på dine flytbare drev
Comment[de]=Omarchy-Abbilder auf tragbare Datenträger schreiben
Comment[el]=Κάντε εγγραφή ειδώλων του Omarchy στις φορητές μονάδες σας
Comment[es]=Grabe imágenes de Omarchy en sus unidades portátiles
Comment[et]=Kirjuta Omarchy kettatõmmiseid oma mälupulkadele ja muudele andmekandjatele
Comment[eu]=Idatzi Omarchy-ren irudiak zure disko eramangarrietan
Comment[fa]=ایمیج فدورا را روی درایو های قابل حمل خود رایت کنید
Comment[fi]=Kirjoita Omarchy levykuvia siirrettäville laitteille
Comment[fil]=Sumulat ng mga imahe ng Omarchy sa iyong mga portable drive
Comment[fr]=Écrivez des images Omarchy sur vos lecteurs amovibles
Comment[fur]=Scrîf lis imagjins di Omarchy tes tôs unitâts portatilis
Comment[ga]=Scríobh íomhánna Omarchy chuig do thiomántáin iniompartha
Comment[he]=כתיבת דמויות Omarchy אל כוננים ניידים
Comment[hr]=Zapišite Omarchy slike na vaše uklonjive uređaje
Comment[hu]=Írjon Omarchy lemezképeket a hordozható meghajtóira
Comment[id]=Tulis image Omarchy ke drive portabel Anda
Comment[it]=Scrive le immagini Omarchy su unità portatili
Comment[ja]=Omarchyイメージをお使いのポータブルメディアに書き込みます
Comment[ka]=Omarchy-ის ასლის გადატანად დისკებზე ჩაწერა
Comment[kab]=Aru tugniwin n Omarchy ɣef yinuḍaf n ufus
Comment[kk]=Omarchy бейнелерін портативті дискілерге жазу
Comment[ko]=사용자의 이동식 드라이브에 Omarchy 이미지를 작성합니다
Comment[ml]=Omarchy ഡിസ്ക് ചിത്രത്തിനെ പെന് ഡ്രൈവിൽ എഴുത്തു
Comment[nl]=Schrijf Omarchy images op je draagbare drives
Comment[pa]=Omarchy ਈਮੇਜ਼ ਨੂੰ ਆਪਣੇ ਪੋਰਟੇਬਲ ਡਰਾਇਵ 'ਤੇ ਲਿਖੋ
Comment[pl]=Zapisywanie obrazów Omarchy na dyskach USB
Comment[pt]=Grave imagens do Omarchy nos seus dispositivos portáteis
Comment[pt-BR]=Grave imagens do Omarchy em seus dispositivos portáteis
Comment[ro]=Scrie imagini Omarchy pe unitățile dvs. amovibile
Comment[ru]=Запись образов Omarchy на переносные диски
Comment[sk]=Zapisujte obrazy Omarchy na vaše prenosné disky
Comment[sl]=Pisanje slik Fedore na vaše prenosljive pogone
Comment[sq]=Shkruani pamje Omarchy te disqet tuaj portativë
Comment[sr]=Пишите Omarchy слике на ваше преносне уређаје
Comment[sv]=Skriv Omarchyavbilder till dina portabla enheter
Comment[ta]=Omarchyவை உங்கள் பெயரத்தகு சாதனத்தில் எழுதுக
Comment[th]=เขียนอิมเมจ Omarchy ไปยังไดรฟ์พกพาของคุณ
Comment[tr]=Taşınabilir sürücülerinize Omarchy kalıplarını yazın
Comment[uk]=Запис образів Omarchy на портативні пристрої
Comment[vi]=Ghi các ảnh Omarchy lên thiết bị lưu trữ di động của bạn
Comment[yo]=Gbé àwọn àwòrán Omarchy kálẹ̀ ko lè lò lórí àwọn ẹ̀rọ ìpamọ́ alágbéká ẹ̀
Comment[zh-CN]=将 Omarchy 镜像写入到可移动驱动器中
Comment[zh-TW]=將 Omarchy 映像檔寫入您的卸除式裝置中
Icon=io.github.rickcaleg.OmarchyMediaWriter
Exec=omarchy-media-writer
Terminal=false
Categories=System;
Keywords=fmw;usb;iso;bootable;

